@model IEnumerable < Vidly.Models.Customer >
 { 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table border="2">

    @foreach (var customer in Model)
    {
        <br/>
        <tr>
            <td> @Html.ActionLink(customer.name, "Detail", "Customer", new { id = customer.ID }, null)</td>
       <td>@customer.MembershipType.name</td>
        </tr>

    }

</table>
