<div class="navbar">
    <ul class="nav">
        <li>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Customer", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })
        </li>
    </ul>
   @* @Html.Partial("_LoginPartial") *@
</div>