@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<ol>
    <li>@Model.Genre</li>
    <li>@Model.stock</li>
    <li>@Model.Date_Added.ToShortDateString()</li>
  

</ol>

