@model Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.movie.name</h2>
<ul>
@foreach (var customer in Model.customer) {

    <li>@customer.name</li>

}
    </ul>
